@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-cyan-500 {
        box-shadow: 0 0 0 5px rgba(6, 182, 212, 0.2);
    }
}

* {
    font-family: "Roboto", sans-serif;
}

html {
    background-color: black;
}

body {
    background-color: black;
}

.disqus-container iframe {
    all: initial;
}

@media (max-width: 840px) {
    .grid-responsive {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

@media (max-width: 695px) {
    .grid-responsive {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media (max-width: 525px) {
    .grid-responsive {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}