@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-cyan-500 {
        box-shadow: 0 0 0 5px rgba(6, 182, 212, 0.2);
    }
}

* {
    font-family: "Roboto", sans-serif;
}

html {
    background-color: black;
}

body {
    background-color: black;
}

.disqus-container iframe {
    all: initial;
}